---
---

@import "minima";

@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap');
body {
    font-family: 'Cormorant+Garamond', serif;
    color: #383838;
    background-color: seashell;
}
