<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    
    <!-- MathJax: LaTeX support -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>

  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}
        <a href="{{ site.github.owner_url }}">GitHub</a><br>
        <a href="https://twitter.com/AbhayVenkatesh1">Twitter</a><br>
        <a href="https://linkedin.com/in/abhayvenkatesh">LinkedIn</a><br>
        <a href="/pages/projects.html">Projects</a><br>
        <a href="https://bookshelf.website/abhay/mixes/dvadl/Bookshelf">Books</a><br>
        <a href="/pages/anti-search-engine.html">The Anti-Search Engine</a><br>
        <a href="/pages/technical-resources.html">Technical Resources</a><br>
        <a href="/pages/the-new-atlantis.html">The New Atlantis</a><br>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p> </p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
